In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
import pymongo
import time
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 87.0.4280
[WDM] - Get LATEST driver version for 87.0.4280
[WDM] - Driver [/Users/andrewtobin/.wdm/drivers/chromedriver/mac64/87.0.4280.88/chromedriver] found in cache

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = bs(html,"html.parser")

In [5]:
news_title = soup.find("div",class_="content_title").text
news_p = soup.find("div", class_="article_teaser_body").text
print(f"Title: {news_title}")
print(f"Paragraph: {news_p}")

Title: Mars Now
Paragraph: Marvels of engineering, the rover's sample tubes must be tough enough to safely bring Red Planet samples on the long journey back to Earth in immaculate condition.

In [6]:
url_2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
response = requests.get(url)

In [8]:
featured_image_list = []

for image in soup.find_all('div',class_="img"):
    featured_image_list.append(image.find('img').get('src'))

In [17]:
featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

main_url = 'https://www.jpl.nasa.gov'

featured_image_url = main_url + featured_image_url

featured_image_url

In [18]:
mars_facts_url = "https://space-facts.com/mars/"
html_table = pd.read_html(mars_facts_url)
html_table[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df = html_table[0]
df.columns = ["Facts", "Value"]
df.set_index(["Facts"])
df

                  Facts                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [20]:
facts_html = df.to_html()
facts_html = facts_html.replace("\n","")
facts_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Facts</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [33]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemispheres_url)
shorter_url = "https://astrogeology.usgs.gov"

In [34]:
items = soup.find_all('div', class_='item')
titles=[]
hemisphere_img_urls=[]

In [35]:
for item in items:
    title = item.find('h3').text
    url = item.find('a')['href']
    hem_img_url= shorter_url+url
    browser.visit(hem_img_url)
    html = browser.html
    soup = bs(html, 'html.parser')
    hemisphere_img= soup.find('div',class_='downloads')
    hemisphere_img_url=hemisphere_img.find('a')['href']
    
    img_dict=dict({'title':title, 'img_url':hemisphere_img_url})
    hemisphere_img_urls.append(img_data)

In [37]:
hemisphere_img_urls